<div class="container" style="padding: 20px; max-width: 500px; margin: auto;">
  <h2>{{ idEdicao ? 'Editar Produto' : 'Novo Produto' }}</h2>
  <hr>

  <div style="margin-bottom: 15px;">
    <label>Nome do Produto:</label>
    <input type="text" [(ngModel)]="produto.nome" class="form-control" placeholder="Digite">
  </div>

  <div style="margin-bottom: 15px;">
    <label>Preço:</label>
    <input type="number" [(ngModel)]="produto.preco" class="form-control" placeholder="R$ 0,00">
  </div>

  <div style="margin-bottom: 15px;">
    <label>Descrição:</label>
    <textarea [(ngModel)]="produto.descricao" class="form-control" rows="3"></textarea>
  </div>

  <div style="display: flex; gap: 10px;">
    <button (click)="submit()" class="btn btn-success">
      {{ idEdicao ? 'Salvar Alterações' : 'Cadastrar' }}
    </button>

    <button (click)="voltar()" class="btn btn-secondary">
      Cancelar
    </button>
  </div>
</div>
