<div class="container-principal">
  <div class="header-section">
    <h2>📦 Sistema de Gestão de Produtos PH</h2>
  </div>

  <hr class="divisor">

  <div class="novoproduto-section">
    <button (click)="irParaCadastro()" class="btn-novo-produto">
      + Novo Produto
    </button>
  </div>

  <table class="tabela-produtos">
    <thead>
      <tr>
        <th>ID</th>
        <th>Nome</th>
        <th>Preço</th>
        <th class="coluna-acoes">Ações</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let p of produtos">
        <td class="id-cell">{{ p.id ? p.id : 'N/A' }}</td>
        <td>{{ p.nome }}</td>
        <td class="preco-cell">{{ p.preco | currency:'BRL' }}</td>
        <td class="acoes-cell">

          <button (click)="irParaEditar(p.id)" class="btn-editar">
            Editar
          </button>

          <button (click)="deletar(p.id)" class="btn-excluir">
            Excluir
          </button>

        </td>
      </tr>
    </tbody>
  </table>

  <button class="btn-sair" (click)="deslogar()">
    Sair
  </button>
</div>
