<div style="padding: 20px; font-family: sans-serif;">
  <div style="display: flex; justify-content: space-between; align-items: center; margin-bottom: 20px;">
    <h2>📦 Sistema de Gestão de Produtos </h2>
    <button (click)="deslogar()" style="padding: 8px 15px; background-color: #dc3545; color: white; border: none; border-radius: 4px; cursor: pointer; font-weight: bold;">
      Sair do Sistema - test
    </button>
  </div>

  <hr>

  <table border="1" style="width: 100%; margin-top: 20px; border-collapse: collapse;">
    <thead>
      <tr style="background-color: #f2f2f2;">
        <th>ID test</th>
        <th>Nome test</th>
        <th>Preço test</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let p of produtos">
        <td style="padding: 8px; text-align: center;">{{ p.id }}</td>
        <td style="padding: 8px;">{{ p.nome }}</td>
        <td style="padding: 8px; text-align: right;">{{ p.preco | currency:'BRL' }}</td>
      </tr>
    </tbody>
  </table>
</div>
